#section-feature {
  padding: 25px 0px 25px 0px;
}
#section-news2 {
  padding: 60px 0 80px;
}
#section-content {
  padding: 0px 0px 55px 0px;
}
body {
  color: #999;
}
.body a:not(.btn) {
  color: #10d3ff;
}
.link-bg:hover, .link-bg a:hover {
  background-color: #10d3ff;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover, .tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover, .tb-megamenu .nav li.dropdown.open > .dropdown-toggle, .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a, .tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
  color: #10d3ff;
}
.body a:hover {
  color: #008aa9;
}
h1, h2, h3, h4, h5, h6 {
  color: #666;
}
.body h2 a {
  color: #666;
}
